<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>watch tv shows for free on show box</title>
    <meta name="description" content="pycode.tk" />
    <script type="application/json" id="ui-experiments">
      <%= JSON.stringify(htmlWebpackPlugin.options.uiConfig) %>
    </script>
    <link
      rel="preload"
      href="https://fonts.pycode.tk/open-sans.css"
      as="style"
    />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <% for (const val of Object.values(htmlWebpackPlugin.files.chunks)) { %>
    <link href="<%= val.entry %>" rel="preload" as="script" />
    <% } %> <% for (const val of Object.values(htmlWebpackPlugin.files.chunks))
    { %> <% if(!val.entry.includes("vendors")){ %>
    <script defer src="<%= val.entry %>"></script>
    <% } else{ %>
    <script src="<%= val.entry %>"></script>
    <% } %> <% } %>
  </head>
  <body>
    <div id="app-root" style="display: none"></div>
    <noscript>This Application uses JavaScript..</noscript>
  </body>
</html>
