<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>watch tv shows for free on show box</title>
    <meta name="description" content="tv.pycode.tk" />
    <link rel="preconnect" href="https://fonts.pycode.tk/" />
    <link rel="preconnect" href="https://res.cloudinary.com/" />
    <link rel="preconnect" href="https://show-box.herokuapp.com/" />
    <script>
       <% for (const {id,config} of htmlWebpackPlugin.options.configs) { %> window["<%= id %>"]=JSON.parse(<%= JSON.stringify(JSON.stringify(config)) %>);<% } %>
      <%= require("terser").minify( "("+function () {
        window.__getLink = function (href, rel) {
          var link = document.createElement("link");
          link.rel = rel;
          link.href = href;
          document.head.appendChild(link);
        };
      }+")()").code %>
    </script>
    <link
      rel="preload"
      href="https://fonts.pycode.tk/open-sans.css"
      as="style"
    />
    <base href="/" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
  </head>

  <body>
    <div id="app-root" style="display: none"></div>
    <noscript>This Application uses JavaScript..</noscript>
  </body>
</html>
