.response-parent {
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 65%;
}
.response-parent.has-data {
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  padding: 4px;
}
.query-response {
  text-align: left;
  margin-left: 10px;
}
.show-link {
  color: #000000;
  text-decoration: none;
}
